.vs/
*.dll
*.pdb
*.cache
DotaSentry/bin/
DotaSentry.Client/obj/
DotaSentry/obj/
DotaSentry.Client/bin/
DotaSentry/ClientApp/.DS_Store
DotaSentry/ClientApp/node_modules
DotaSentry/ClientApp/dist
DotaSentry.Console/bin/
DotaSentry.Console/obj/
DotaSentry/wwwroot/StaticFiles/Temp/
DotaSentry.SteamClient/obj/
