@import '../responsive';
@import '../_variables';

.dashboard {
  .matches {
    display: flex;
    flex-wrap: wrap;

    .score-container {
      width: 30%;
      @include font-18;
      font-weight: 700;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .score {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        span {
          color: white;
          width: 50%;
          text-align: center;
        }
      }

      .lead {
        width: 100%;
        display: flex;

        div {
          color: gold;
          width: 50%;
          text-align: center;
        }
      }
    }

    .match {
      text-decoration: none;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      width: calc(40% - 24px);
      -webkit-box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.75);
      margin-bottom: 35px;

      &:nth-child(2n + 1) {
        margin-right: 24px;
      }

      .team {
        justify-content: center;
        width: 35%;
        display: flex;
        flex-wrap: wrap;

        img {
          padding: 10px;
          width: 75%;
        }

        .name {
          @include font-18;
          width: 100%;
          color: white;
          text-align: center;
        }
      }
    }
  }


  @include mq($from: mobile, $until: tablet) {

  }

  @include mq($from: tablet, $until: desktop) {

  }
}

