.live-content{ 
    display: grid;
}

.live-match {
    display: grid;
    color:white;
    background:linear-gradient(60deg, #66bb6a, #43a047);;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
    margin-bottom: 1em;
}

.live-match:hover {
    -webkit-box-shadow: 0px 0px 53px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 53px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 53px -2px rgba(0,0,0,0.7);
    transition: box-shadow 0.2s ease-in;
}

.live-match .score {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.live-match .game-time {
    margin-right: 0.4em;
}

.live-match .radiant-leads {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
    display: flex;
}

.live-match .dire-leads {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
    display: flex;
}

.live-match .dire-leads .material-icons,
.live-match .radiant-leads .material-icons {
    padding-top: 11px;
    padding-right: 8px;
}

.live-match .score h2 {
    text-align: center;
    margin: 1em 0 0 0;
}

.team {
    display: flex;
    flex-direction: column;
    padding:1em;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 15em;
}


.team picture img {
    border-radius: 1em;
    width: 10em;
}